*{
    margin:0;
    padding:0
}
.container{
    margin:auto;
    margin-top:10px;
    width:350px;
    height:500px;
    background-color: skyblue;
    color:white;
    font-family: sans-serif;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius:8px
}
img{
    position: relative;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    width:200px;
    height:200px;
    border-radius:50%;
    border:2px dotted gold;
    margin-top:20px 
}
.Progress{
    margin-top: 20px;
}
.Button{
    margin-top: 40px;
    
}
p{
    padding-top: 25px;
}